.galleryImg {
    height: 20%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("~/images/login/background.png");
}

#options {
    z-index: 1;
}

#icon {
    position: absolute;
    border-radius: 50%;
    z-index: 10;
    background-image: url("~/images/login/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.btnOptions {
    margin-top: 70%;
    height: 30%;
    width: 22.5%;
    text-align: center;
    color: #f87252;
    border-radius: 0.1;
    background-color: white;
    border-color: #f87252;
    border-bottom-width: 1;
    border-top-width: 1;
}

#title {
    margin-top: 5;
    font-weight: bold;
    text-align: center;
    font-size: 20;
    color: black;
}

#path {
    text-align: center;
    color: rgb(158, 158, 158);
    font-size: 13;
}

#stars {
    color: #FDC541;
    text-align: center;
    font-size: 16;
    letter-spacing: 0.5;
}

#price {
    color: #FF7357;
    font-size: 16;
    font-weight: bold;
    letter-spacing: 0.2;
}

#domicilio {
    text-align: center;
    font-size: 14;
    margin-left: 10%;
    margin-right: 10%;
}

#map {
    height: 20%;
    margin-top: 10;
}

#description {
    margin-left: 2%;
    margin-right: 2%;
    vertical-align: center;
    font-size: 14;
    text-align: center;
}

#comentario {
    background-color: #FF7357;
    color: white;
    width: 90%;
    margin: 5%;
    border-radius: 50%;
}

#details {
    background-color: #EFEFEF;
}

#icnDetail {
    vertical-align: center;
    text-align: center;
    font-size: 25;
}

#titlDetail {
    font-weight: bold;
}

#descriptionDetail {
    font-size: 10;
    margin-top: 10;
}

.fab-button {
    height: 40;
    width: 40;
    horizontal-align: right;
    background-color: #FF7357;
    margin-left: 86.5%;
    margin-top: 11%;
    vertical-align: top;
}

.details {
    margin-top: 10;
    width: 60%;
    background-color: #FF7357;
    horizontal-align: center;
    vertical-align: bottom;
    border-radius: 50%;
    color: white;
    margin-bottom: 10;
}

.close {
    border-radius: 0.1;
    height: 45;
    horizontal-align: center;
    color: black;
}

.sidedrawer-header {
    height: 20%;
}

.fab-button {
    height: 50;
    width: 50;
    margin-right: 10;
    margin-bottom: 10;
    background-color: #FF7357;
    horizontal-align: right;
    vertical-align: bottom;
}

#headerLabel {
    font-size: 25;
    horizontal-align: center;
    color: #B2EBF2;
    margin-top: 20;
}

.header-template {
    height: 200;
    width: 100%;
}

.iconProfile {
    border-radius: 50%;
    width: 80;
    height: 80;
    vertical-align: top;
    margin-left: 5;
    margin-right: 5;
    background-repeat: no-repeat;
    background-size: cover;
}

.textView {
    border-width: 1;
    border-color: #FF7357;
    width: 60%;
    height: 90%;
    border-radius: 10%;
    vertical-align: bottom;
    margin-bottom: 10%;
    padding: 5;
}

.btnSend {
    background-color: #FF7357;
    height: 50;
    width: 50;
    color: white;
    border-radius: 50%;
    vertical-align: bottom;
    margin-left: 5;
    margin-right: 5;
    margin-bottom: 10%;
}

.icnComments {
    width: 65;
    height: 65;
    border-radius: 50%;
}

.usernameComments {
    font-weight: bold;
}

.dateComments {
    color: #CBCBCB;
    font-size: 10;
}

.divComments {
    border-radius: 20%;
    background-color: #F1F0F0;
    padding: 10;
    margin-right: 15;
}

.elementsServices {
    border-bottom-width: 1;
    border-bottom-color: #D2D2D2;
    background-color: #EFEFEF;
}