#sLconnection{
     background-repeat: no-repeat;
     background-size: cover;
}

#label{
     text-align: center;
}

#retry{
     margin-top: 5%;
     text-align: center;
     text-decoration: underline;
     color: #E4705D;
}