#ListViewGL {
    margin-top: 10;
    margin-bottom: 10;
}

#title {
    text-align: left;
    color: #FF7357;
    padding-left: 10;
    font-weight: bold;
    line-height: 1.2;
    font-size: 22;
}

#path {
    text-align: left;
    color: #CBCBCB;
    padding-left: 10;
    font-size: 10;
}

#description {
    text-align: left;
    color: black;
    padding-left: 10;
    font-size: 14;
    padding-top: 4;
}

#telefono {
    text-align: left;
    color: black;
    padding-left: 10;
    font-size: 12;
    padding-top: 4;
}

#distance {
    text-align: center;
    color: #CBCBCB;
    font-size: 12;
    vertical-align: bottom;
}

#rating {
    color: #FDC541;
    text-align: left;
    padding-left: 10;
    font-size: 12;
    padding-top: 5;
    letter-spacing: 0.5;
}

#fav {
    padding-top: 10;
    horizontal-align: center;
    color: #FEC550;
    font-size: 34;
    margin-bottom: 5;
    vertical-align: center;
}

#price {
    padding-top: 20%;
    color: #FF7357;
    horizontal-align: center;
    font-size: 16;
    font-weight: bold;
    letter-spacing: 0.1;
}

#sl {
    height: 100%;
}

.img-logo {
    width: 100;
    height: 100;
    border-radius: 50%;
}