#sLHeader {
    background-repeat: no-repeat;
    background-size: cover;
    height: 35%;
    vertical-align: center;
}

#categoryText {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.15);
    height: 100%;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    animation-name: example;
    animation-duration: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes example {
    from {
        transform: translate(0, -300);
    }
    to {
        transform: translate(0, 0);
    }
}

.btnSubcat {
    margin: 10;
    font-weight: bold;
    font-size: 17;
}

#todos {
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    color: #FF7350;
    border-bottom-color: #FF7350;
    background-color: #EFEFEF;
    font-style: italic;
    border-radius: 0.1;
    font-size: 20;
}