Page {
    background-repeat: no-repeat;
    background-size: contain;
}

#ListView {
    height: 100%;
}

#titleBanner {
    font-size: 20;
    font-weight: bold;
    padding: 5;
    color: #f87252;
}