@import "nativescript-theme-core/css/core.light.css";

/* Your CSS goes here */

* {
    font-family: 'Exo', Exo;
}

ActionBar {
    background-color: white;
    color: #FF7350;
}

.fa {
    font-family: FontAwesome, fontawesome-webfont;
}

.images_fullscreen {
    background-image: url("~/images/permissions/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#button-permissions {
    margin-top: 5%;
    background-color: transparent;
    horizontal-align: left;
    color: #FF7350;
    border-radius: 50%;
    font-size: 20%;
    width: 90%;
    padding-left: 3;
    text-align: left;
    margin-left: 10%;
}

.button-no {
    background-color: transparent;
    text-align: center;
    color: white;
    margin-top: 2.5%;
    margin-left: 10%;
    border-radius: 50%;
    horizontal-align: left;
}

.logo-permission {
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 25%;
}

#texto {
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
}

#texto1 {
    color: white;
    font-size: 12;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
}