@import url('~/bttn.min.css');
@import "nativescript-theme-core/css/core.light.css";
TabView {
    selected-tab-text-color: #f87252;
    android-selected-tab-highlight-color: #f87252;
}

#sLHeader {
    background-image: url("~/images/home/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40%;
}

#imgTV {
    horizontal-align: center;
    margin-left: 32.5%;
    margin-right: 32.5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#imgHome {
    horizontal-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
    margin-bottom: 5%;
    animation-name: example;
    animation-duration: 1.5;
    animation-timing-function: spring;
    animation-fill-mode: forwards;
}

@keyframes example {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 5);
    }
}

.searchBar2 {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    background-color: #EFEFEF;
    margin-right: 10%;
    width: 70%;
    height: 6%;
}

#searchBar {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    padding-left: 15;
    height: 16%;
    background-color: white;
    border-radius: 50%;
}

Label {
    text-align: center;
    color: white;
}

button {
    text-align: center;
    color: white;
    border-width: 2;
    border-color: white;
    border-bottom-width: 0;
    font-size: 20;
}

#ListView {
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
}

#ListViewLikes {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
}

#ListViewGL {
    margin-top: 10;
    margin-bottom: 10;
}

#ListViewGL2 {
    height: 20%;
}

#title {
    text-align: left;
    color: #FF7357;
    padding-left: 10;
    font-weight: bold;
    line-height: 1.2;
    font-size: 22;
}

#path {
    text-align: left;
    color: #CBCBCB;
    padding-left: 10;
    font-size: 10;
}

#description {
    text-align: left;
    color: black;
    padding-left: 10;
    font-size: 14;
    padding-top: 4;
}

#telefono {
    text-align: left;
    color: black;
    padding-left: 10;
    font-size: 12;
    padding-top: 4;
}

#distance {
    text-align: center;
    color: #CBCBCB;
    font-size: 12;
    vertical-align: bottom;
}

#rating {
    color: #FDC541;
    text-align: left;
    padding-left: 10;
    font-size: 12;
    padding-top: 5;
    letter-spacing: 0.5;
}

#fav {
    padding-top: 10;
    horizontal-align: center;
    color: #FEC550;
    font-size: 34;
    margin-bottom: 5;
    vertical-align: center;
}

#price {
    padding-top: 20%;
    color: #FF7357;
    horizontal-align: center;
    font-size: 16;
    font-weight: bold;
    letter-spacing: 0.1;
}

GridLayout {
    background-color: white;
}

SegmentedBar {
    margin-top: 15;
}

.categoria-filtros {
    margin-top: 5%;
    horizontal-align: center;
}

.sidedrawer-header-brand {
    margin-left: 30%;
}

.sidedrawer-header {
    padding: 10;
    background-repeat: no-repeat;
    background-size: cover;
}

SegmentedBar {
    selected-background-color: #FF7357;
    margin-left: 10;
    margin-right: 10;
}

#localizacion {
    padding-left: 10;
    margin-top: 10%;
    text-align: center;
    border-width: 1;
    border-bottom-width: 1;
    border-color: white;
    border-radius: 50%;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    height: 15%;
    font-size: 15;
}

#btn1 {
    background-image: url("~/images/home/promociones.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-left-width: 0;
}

#btn2 {
    background-image: url("~/images/home/recomendado.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-right-width: 0;
    border-left-width: 0;
}

#btn3 {
    background-image: url("~/images/home/popular.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-left-width: 0;
}

#btn4 {
    background-image: url("~/images/home/moda.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-right-width: 0;
    border-left-width: 0;
}

.gridView {
    background-color: transparent;
}

.btnCat {
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: 35% 35%;
    font-style: italic;
    padding-top: 100%;
    border-bottom-width: 1;
    border-width: 1;
    border-color: white;
    background-color: transparent;
    border-left-width: 0;
}

#sLprofile {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("~/images/home/profile.png");
    height: 45%;
}

#imgProfile {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
    border-radius: 50%;
    width: 100;
    height: 100;
    border-width: 1;
    border-color: white;
}

#userProfile {
    margin-top: 5%;
    font-size: 20%;
    color: white;
    font-style: italic;
}

#socialNetwork {
    margin-top: 5%;
    font-size: 25%;
    text-align: center;
    border-radius: 50%;
    width: 11%;
    padding: 10;
    background-color: #1A92CC;
}

#catProfile {
    vertical-align: center;
    border-width: 0;
    border-bottom-width: 1;
    border-color: #f87252;
    width: 100%;
    padding: 5;
    background-color: #F7F7F7;
    color: #f87252;
}

#imgLogoHeader {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 35%;
    horizontal-align: center;
    width: 30%;
}

#btnMenu {
    color: white;
    background-color: transparent;
    text-align: center;
    horizontal-align: right;
    border-width: 0;
    font-size: 28;
    border-radius: 0.1;
    vertical-align: top;
    margin-left: 25%;
    margin-top: 5;
}

#logoMenu {
    margin: 5%;
}

.itemsMenu {
    color: #747474;
    text-align: left;
    background-color: white;
    width: 100%;
    border-radius: 0.1;
    height: 10%;
    padding: 10;
    font-size: 16;
    text-transform: uppercase;
}

.btnFiltros {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    background-color: #f87252;
    border-radius: 5%;
    border-width: 1;
    border-bottom-width: 1;
    border-color: #f87252;
    margin-top: 2%;
    font-size: 16;
    margin-top: 10;
    height: 30;
}

.btnFiltrosBottom {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    color: #f87252;
    background-color: white;
    border-width: 1;
    border-bottom-width: 1;
    border-radius: 5%;
    border-color: #f87252;
    margin-top: 30%;
    font-size: 16;
    margin-top: 30;
    margin-bottom: 10;
    height: 30;
}

Switch#userStatus[checked=true] {
    color: #f87252;
    background-color: whitesmoke;
}

Switch#userStatus[checked=false] {
    color: whitesmoke;
    background-color: whitesmoke;
}

.fab-button {
    height: 30;
    width: 60;
    margin-bottom: 10;
    background-color: #FF7357;
    horizontal-align: center;
    vertical-align: bottom;
}

#logout {
    vertical-align: bottom;
    border-top-width: 0.5;
    border-top-color: #747474;
}

.container {
    border-radius: 50%;
    background-color: #EFEFEF;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    height: 6%;
    margin-bottom: 10;
}

#auTextView {
    background-color: #EFEFEF;
    width: 90%;
    text-align: center;
}

#icnSearch {
    font-size: 20;
    width: 10%;
    background-color: #EFEFEF;
    text-align: center;
    color: black;
}

#icnSearch2 {
    font-size: 20;
    width: 10%;
    background-color: #EFEFEF;
    text-align: center;
    color: black;
    margin-left: 10%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
}

.img-logo {
    width: 100;
    height: 100;
    border-radius: 50%;
}

.label-card {
    background-color: rgba(0, 0, 0, 0.2);
    border-width: 0;
}

.gridcategories {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('~/images/permissions/background.png'):
}

.btnLabelRecomendados {
    border-width: 0;
    background-color: white;
}