Page{
    text-align: center;
    background-image: url("~/images/login/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

label{
    margin: 20;
}

#logo{
    margin-left: 30;
    margin-right: 30;
    margin-bottom: 30;
}

#fbButton{
    background-color: #2E68B0;
    border-radius: 0.1;
    color: white;   
    width: 50%;
    height: 45;
}
#gButton{
    background-color: #DD4B39;
    border-radius: 0.1;
    color: white;   
    width: 50%;
    height: 45;
}

#invButton{
    background-color: #FFC542;
    border-radius: 0.1;
    color: white;   
    width: 100%;
    height: 45;
}